<form action="/result" method="POST">
Valitse liikkeet treeniä varten:
<p>
<input type="checkbox" name="liike" value="1"> Maastaveto
<input type="checkbox" name="liike" value="2"> Kyykky
<input type="checkbox" name="liike" value="3"> Penkkipunnerrus
<input type="checkbox" name="liike" value="4"> Lankku
<p>
Valitse lisät:
<p>
<input type="checkbox" name="extra" value="A"> oregano
<input type="checkbox" name="extra" value="B"> valkosipuli
<p>
Erikoistoiveet: <br>
<textarea name="message" rows="3" cols="50"></textarea>
<p>
<input type="submit" value="Lähetä">
</form>
