{% extends "layout.html" %}
{% block title %}Current workout{% endblock %}
{% block content %}
<form action="/list" method="GET">
    Editing workout {{ workout.workout_name }}
    <hr>
    {% for movement in movements %}
    Name: {{ movement.movement_name }}, sets: {{ movement.series }}, reps: {{ movement.reps }}, weight: {{ movement.kilos }}
    
    <hr>
    {% endfor %}
</form>

<form action="" method="POST">
    
    
    <input type="submit" name="add_new_movement" value="Add new movement">
    <input type="submit" name="finish_workout" value="Finish and save workout">
</form>

{% endblock %}
